/* @import url(); */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    background: rgb(5, 8, 39);
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgb(82, 80, 80);
    display:flex;
    justify-content: space-between;            
    align-items: center;
    z-index: 100%;
    
}

.logo{
    text-decoration: none;
    font-size: 25px;
    color:azure;
    font-weight:600;

}