@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel",sans-serif;

}

body{
    
    color: rgb(236, 248, 248);
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    margin-bottom: 20px;
    background: transparent;
    display:flex;
    justify-content: space-between;            
    align-items: center;
    z-index: 100%;
    
}

.logo{
    position:relative;
    text-decoration: none;
    font-size: 25px;
    color:rgb(236, 248, 248);
    font-weight:600;

}

.logo::before {
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    color: rgb(236, 248, 248);
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color:rgb(15, 15, 66);
}

.home{
    display:flex;
    align-items: center;
    height:100vh;
    padding:0 10%;
    /* background: url('/img/rick.jpg') no-repeat; */
    background: rgb(5, 8, 39);
    background-size: cover;
    background-position: center;
}
 

.home-content{
    
    max-width: 600px;
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position:relative;
    font-size: 32px;
    font-weight: 700;
    color:turquoise;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position:relative;
    font-size: 1rem;
    margin: 20px 0 40px;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position:relative;
    display:flex;
    justify-content: space-between;
    width: 345px;
    height:50px;
    
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position:relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 100%;
    background: turquoise;
    border: 2px solid turquoise;
    border-radius: 5px;
    font-size:19px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;

}

.btn-box a:hover{
    color:turquoise;
}

.btn-box a:nth-child(2){
    background: transparent;
    color:turquoise;
}

.btn-box a:nth-child(2):hover{
    color: rgb(5, 8, 39);
}

.btn-box a:nth-child(2)::before {
    background: turquoise;
}

.btn-box a::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: rgb(5, 8, 39);
    z-index: -1;
    transition:.5s;
    overflow: hidden;
}

 .btn-box a:hover::before {
    width:100%;
 }

 .home-sci {
    position:absolute;
    bottom:40px;
    width:170px;
    display:flex;
    justify-content: space-between;

 }

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 8, 39);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

 .home-sci a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transparent;
    border:2px solid turquoise;
    border-radius: 50%;
    font-size: 20px;
    color:turquoise;
    text-decoration:none;
    z-index: 1;
    overflow: hidden;
 }

 .home-sci a::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: turquoise;
    z-index: -1;
    transition:.5s;
 }
 .home-sci a:hover{
    color:rgb(5, 8, 39);
 }

 .home-sci a:hover::before {
    width:100%;
 }

 /* .home-imgHover{
    position:absolute;
    top:0;
    right:30px;
    width: 500px;
    height:100%;
    background: transparent;
    transition:3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
 } */

 /* .home-imgHover:hover {
    opacity:.8;
    background: rgb(5, 8, 39);
 } 

  .home-imgHover::after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 120%;
     height: 100%;
     background: rgb(5, 8, 39);;
     animation: showRight 1s ease forwards;
     animation-delay: 3s;
     z-index: 100;
 } */

 #mobile-menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor:pointer;
    width:2.25rem;
    height:2.25rem;
    background-color: transparent;
    padding:0;
 }
 #mobile-menu-btn span {
    width:2.25rem;
    height:0.2rem;
    background-color: white;
 }


 #mobile-menu {
    position:fixed;
    top:5rem;
    left:0;
    height: calc(100vh-5rem);
    display:none;
    flex-direction: column;
    align-items: center;
 }

 #mobile-menu nav{
    height:20rem;
    width:90%;
    margin:1rem auto;
 }



 /* KEYFRAMES ANIMATION */
 @keyframes showRight {
    100% {
        width: 0;
    }
 }

 @keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
 }